<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>SpeedyParser - tutorial</title>
    <link href="green.css" rel="stylesheet">
</head>

<body>
    %h1 Introduction
    
    %br
        Content of the document......
</body>
</html>


